asgiref
# backports.zoneinfo==0.2.1
certifi
chardet
dj-database-url
Django==4.2
django-admin-honeypot
django-admin-thumbnails
django-session-timeout
gunicorn
idna
importlib-metadata
packaging
Pillow
psycopg
psycopg-binary
python-decouple
pytz
requests
six
sqlparse
typing-extensions
tzdata
urllib3
whitenoise
zipp
